version: "3.8"
services:
  patient-service:
    image: maven:3.9.9-eclipse-temurin-21
    working_dir: /app
    ports:
      - "4000:4000"
    volumes:
      - .:/app
    command: mvn spring-boot:run
